body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(219, 219, 219);
}

.app {
  padding: 20px;
  border-radius: 10px;
  background-color: #0569ff;
  box-shadow: 0 6px 8px rgb(71, 71, 71);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type='text'] {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.task-title {
  flex-grow: 1;
  cursor: pointer;
}

.task-date {
  margin-right: 8px;
}

.task-time {
  font-size: 12px;
  color: #888;
  margin-right: 8px;
}
